* {
  box-sizing: border-box;
}

body {
  background-color: #9bd8d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
  font-size: 55px;
}

.box {
    background: rgb(123,87,194);
    background: linear-gradient(126deg, rgba(123,87,194,0.9678328412133943) 0%, rgba(73,179,191,0.9143737217165389) 100%);
  color: #fff;
  width: 400px;
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0, 0.3);

  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
