* {
  box-sizing: border-box;
}

body {
  background-color: rgb(66, 117, 54);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.text {
  margin-top: 100px;
font-size: 40px;
}

.container {
  display: flex;
  overflow: hidden;
  margin-top: 250px;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background-image: url('https://homebnc.com/homeimg/2022/03/07-yellow-flowers-carnation-homebnc.jpg');
  background-position: center;
  background-size: cover;
}

.fill {
  background-image: url('https://rnz-ressh.cloudinary.com/image/upload/s--Mim-G3RJ--/ar_16:10,c_fill,f_auto,g_auto,q_auto,w_1050/4LZZ4IM_image_crop_135147');
  background-position: center;
  background-size: cover;
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333333;
  border-color: white;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}